/* 
.section {
  width: 100%;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 800;
}

.seeAllBtn {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  background: #000;
  color: #fff;
  transition: opacity 0.2s ease;
}

.seeAllBtn:hover {
  opacity: 0.9;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

/* Laptop / Small Desktop */
@media (max-width: 1200px) {
  .productGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Tablet */
@media (max-width: 768px) {
  .productGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  .title {
    font-size: 1.3rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .productGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .section {
    padding:5px;
  }

  .title {
    font-size: 1rem;
  }

  .seeAllBtn {
    padding: 6px 12px;
    font-size: 12px;
  }
}



.productItem {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.5s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
 */
